{
	"env": {
		"browser": true,
		"amd": true,
		"es6": true
	},
	"globals": {
		"$": true,
		"module": true
	},
	"rules": {
		"quotes": [2, "single"],
		"strict": [2, "global"],
		"global-strict": 0,
		"no-console": 0
	}
}
