.sass-cache
.tmp
/node_modules
PROD.jpt
git.sh
index.html
globeproject.sublime-workspace
data/schoolbuses.html
data/schoolbuses_files
data/schoolbuses_cache

data/schoolbuses_graphic.html
data/schoolbuses_graphic_files
data/schoolbuses_graphic_cache

data/schoolbuses_nc.html
data/schoolbuses_nc_files
data/schoolbuses_nc_cache

data/schoolbuses_teaser.html
data/schoolbuses_teaser_files
data/schoolbuses_teaser_cache

data/schoolbuses_teaser_nc.html
data/schoolbuses_teaser_nc_files
data/schoolbuses_teaser_nc_cache

data/input
parts/globe
.Rhistorygraphics/explainer/js/templates/templates.js

*.swp

data/output/trips-daily.csv


*.swo
