.article-graphic.explainer {

	text {
		font: bold 48px monospace;
	}

	.enter {
	}

	.update {
	}

	.exit {
	}

	.explainer-chart {
		width: 100%;
		height: 0;
		padding-bottom: 100%*9/16;
	}

	svg {
		shape-rendering: crispEdges;
	}

}
