/* from */
.fadedOut {
	opacity: 0;
	-webkit-transition: opacity 1.5s ease-in-out;
	transition: opacity 1.5s ease-in-out;	
}

// .fadedOutQuick {
// 	opacity: 0;
// 	-webkit-transition: opacity 0.25s ease-in-out;
// 	transition: opacity 0.25s ease-in-out;	
// }

/* to */
.fadedIn {
	opacity: 1;
	filter: alpha(opacity=100);
}

.displayNone {
	display: none;
}

.displayBlock {
	display: block;
}



.article-graphic.explainer {

	$axis-labels-black: rgb(46, 46, 46);
	$axis-labels-grey: #4c4d4e;
	@include rhythm(0, 0, 0, 1);

	span.make-red {
		font-weight: bold;
		background: #ea212d;
		color: white;
		padding: 2px;
	}

	.subtitle {
		@include rhythm(0, 0, 0, 0);

		span {
			font-family: $sansSerifStrong;
			@include adjust-font-size-to($s5);
		}
	}

	.explainer-wrapper {
		position: relative;
	}

	.shatter {
		position: absolute;
		top: 0;
		right: 0;
		max-width: 5em;
	}

	svg {
		shape-rendering: crispEdges;

		circle {
			shape-rendering: auto;
		}
	}

	.explainer-svgs svg {
		shape-rendering: auto;
	}

	text.label {
		font-family: $sansSerif;
		font-size: 12px;
		dominant-baseline: text-before-edge;
	}

	.axis path,
	.axis line {
		fill: none;
		stroke: $axis-labels-grey;
	}

	.daily-trips {

		.axis.y {
			path.domain {
				display: none;
			}

			line {
				stroke: white;
				opacity: 0.5;
			}
		}
	}

	.lsate-trips-histogram {

		.axis.y {
			path.domain {
				display: none;
			}

			line {
				display: none;
			}
		}

		.axis.x {
			path.domain {
				display: none;
			}

			line {
				stroke: white;
				opacity: 0.5;
			}
		}

	}

	.axis text {
		font-family: $sansSerif;
		@include adjust-font-size-to($s3);
		fill: $axis-labels-grey;
	}

	.steps {
		.step {
			display: none;
			font-family: $sansSerif;
			@include adjust-font-size-to($s3p5);
			position: relative;

			&.active {
				display: block;
			}

			.title {
				position: absolute;
				bottom: 0;
			}

			.placeholder {
				visibility: hidden;
			}
		}
	}

	.buttons {
		@include rhythm(1/2, 0, 0, 1);
		text-align: right;
		width: 100%;
		overflow: hidden;
		position: relative;

		button.previous,
		button.next {
			float: left;
			margin-right: 1em
		}

		.begin-wrapper {
			position: relative;
			width: 100%;
			text-align: center;
		}

	}

	.explainer-chart-wrapper {
		position: relative;

		width: 100%;
		height: 0;
		padding-bottom: 100%*3/4;
		position: relative;
		@include breakpoint(480px) {
			padding-bottom: 100%*9/16;
		}
		@include breakpoint(640px) {
			padding-bottom: 100%*1/2.39;
		}
	}

	.explainer-chart {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;

		// width: 100%;
		// height: 0;
		// padding-bottom: 100%*3/4;
		// position: relative;
		// @include breakpoint(480px) {
		// 	padding-bottom: 100%*9/16;
		// }
		// @include breakpoint(640px) {
		// 	padding-bottom: 100%*1/2.39;
		// }
	}

	.x-axis-label {
		position: absolute;
		top: 0;
		left: 0;
		color: $axis-labels-black;

		span {
			background: white;
			font-family: $sansSerifStrong;
			@include adjust-font-size-to($s3p5);
		}
	}

	canvas {
		// display: none;
		// position: absolute;
		// top: 0;
		// left: 0;
	}

}
